.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

table {
  width: 100%;
}

.rps-footer{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: var(--rps-core-background);
position: fixed;
width: 100%;
}

.rps-logo{
  width: 189px;
  height: 61px;
  padding: 15px;
  padding-left: 30px;
  box-sizing: border-box;
  /* .rps-logo-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
  } */
}

  .rps-logo-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
  }

.rps-central-logo{
  padding: 15px;
  padding-right: 30px;
}

.rps-terms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* span{
    font-size: 9px;
    font-family: 'sans-serif';
    letter-spacing: 0;
    line-height: 18px;
    color: rgb(218, 214, 214);
  } */
}


